{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="home-container">
  <div class="player-container">
    <div class="player-item">
      <img class="default-pic" src="{% static 'img/default-avatar.jpg' %}">
      <div>
        <h1 class="name-item">Agent Name</h1>
        <b class="role-item">Role</b>
        <p class="description-item">Description</p>
      </div>
    </div>
  
    <div class="player-item">
      <img class="default-pic" src="{% static 'img/default-avatar.jpg' %}">
      <div>
        <h1 class="name-item">Agent Name</h1>
        <b class="role-item">Role</b>
        <p class="description-item">Description</p>
      </div>
    </div>
  
    <div class="player-item">
      <img class="default-pic" src="{% static 'img/default-avatar.jpg' %}">
      <div>
        <h1 class="name-item">Agent Name</h1>
        <b class="role-item">Role</b>
        <p class="description-item">Description</p>
      </div>
    </div>
  
    <div class="player-item">
      <img class="default-pic" src="{% static 'img/default-avatar.jpg' %}">
      <div>
        <h1 class="name-item">Agent Name</h1>
        <b class="role-item">Role</b>
        <p class="description-item">Description</p>
      </div>
    </div>
  
    <div class="player-item">
      <img class="default-pic" src="{% static 'img/default-avatar.jpg' %}">
      <div>
        <h1 class="name-item">Agent Name</h1>
        <b class="role-item">Role</b>
        <p class="description-item">Description</p>
      </div>
    </div>
  </div>

  <div class="side-container">
    <div class="side-item">
      <div>
        <b>Gamemodes:</b>
        <label><input type="radio" name="gamemode" checked value="Customs"> Customs</label>
        <label><input type="radio" name="gamemode" value="Team Deathmatch"> Team Deathmatch</label>
      </div>

      <div>
        <b>Agent Roles: </b>
        <label><input class="role-checkbox" id="controller" type="checkbox" value="Controller" checked> Controller</label>
        <label><input class="role-checkbox" id="duelist" type="checkbox" value="Duelist" checked> Duelist</label>
        <label><input class="role-checkbox" id="initiator" type="checkbox" value="Initiator" checked> Initiator</label>
        <label><input class="role-checkbox" id="sentinel" type="checkbox" value="Sentinel" checked> Sentinel</label>
        <div class="alert alert-danger hide" id="alert-message">Select at least one role.</div>
      </div>

      <div>
        <h1 id="map-name">Click 'Random Map!'</h1>
        <img id="map-img" src="{% static 'img/valorant-title.jpg' %}">
        <div class="button-container">
          <div>
            <button class="btn btn-success" id="agent-button">Random Agents!</button>
            <button class="btn btn-success" id="map-button">Random Map!</button>
            <button class="btn btn-primary" id="reset-button">Reset</button>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

{% endblock %}